<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="http://www.gravatar.com/avatar/{{site.author.email_md5}}?s=150" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
   	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/toc.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#toc').toc();
	});
	</script>
</header>

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		{% if site.author.github %}
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.twitter %}
		<li>
			<a class="btn btn-default btn-sm" href="https://twitter.com/{{ site.author.twitter }}">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li>
			<a class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
		{% endif %}
        <li>
			<a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="fa fa-rss fa-lg"></i>
			</a>
		</li>
	</ul>

	<div class="grid" id="searchBar">
	     <div>
	         <div id="search">
	             <form role="search" method="get" action="{{site.baseurl}}/search.html">
	                 <input id="searchString" name="searchString"
	                        placeholder="Be a Better Developer." type="text">
	                 <input id="searchButton" name="googleSearchName" type="submit" value="搜尋">
	             </form>
	         </div>

	         <div id="archives">
	             直接查看 <a title="The complete archive of {{ site.name }}'s Blog by category"
	                    href="{{ site.BASE_PATH}}/{{ site.categories_path }}">類別</a>
	             或 <a title="The complete archive of {{ site.name }}'s Blog by month"
	                   href="{{ site.BASE_PATH}}/{{ site.tags_path }}">標籤</a>
	         </div>
	     </div>
	 </div>

</div>

<!-- sidebar.html end -->
